.Card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease;
}

.Card:hover {
  box-shadow: 0.75rem 0.75rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.CardImageContainer {
  width: 100%;
  height: 50%;
}

.CardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.CardHeading {
  margin: 0.75rem 0;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.CardDescription {
  font-weight: 300;
  font-size: 1rem;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .Card {
    width: 95%;
    padding: 0;
  }

  .CardHeading {
    font-size: 1.3rem;
  }

  .CardDescription {
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .Card {
    width: 100%;
    padding: 0;
  }

  .CardHeading {
    font-size: 1.2rem;
  }

  .CardDescription {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
}
